package ${packageName}.controller;



import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

import ${packageName}.service.${entityName}Service;
import ${packageName}.${entityPackageName}.${entityName};
import com.go2plus.sys.common.web.controller.BaseCRUDController;


${imports}

/**
 * Description: this is ${entityName} Controller
 * @author ${author}
 * @version 1.0 2011
 */
@Controller
@RequestMapping("/${entityName.toLowerCase()}")
public class ${entityName}Controller extends BaseCRUDController<${entityName}, ${idType}> {
	Logger logger = LoggerFactory.getLogger(${entityName}Controller.class);
	
	public ${entityName}Service get${entityName}Service(){
		return (${entityName}Service)this.baseService;
	}
}
