package ${packageName}.dao;

import java.util.List;
import java.util.Map;

import org.mybatis.spring.support.SqlSessionDaoSupport;
import org.springframework.stereotype.Repository;

import ${packageName}.${entityPackageName}.${entityName};

 /**
 * <p>Description: this is ${entityName}Dao
 * <p>User: ${author}
 * <p>Date: ${date}
 * <p>Version: 1.0
 */
@Repository
public class ${entityName}Dao  extends SqlSessionDaoSupport{
	private final static String NAMESPACE="${entityName}";
	
	/**
	 * page query ${entityName} information
	 * @param queryMap
	 * @return ArrayList
	 */
	@SuppressWarnings("unchecked")
    public List<${entityName}> findPageList(Map<String,Object> queryMap){
		 List<? extends Object> list = getSqlSession().selectList(NAMESPACE+".findPageList", queryMap);
		 return (List<${entityName}>)list;
    }
    
    /**
	 * query ${entityName} information
	 * @param query${entityName}
	 * @return ArrayList
	 */
    @SuppressWarnings("unchecked")
    public List<${entityName}> findList(){
		 List<? extends Object> list = getSqlSession().selectList(NAMESPACE+".findList");
		 return (List<${entityName}>)list;
    }
    
    /**
	 * query ${entityName} information Count
	 * @param query${entityName}
	 * @return Integer
	 */
    public Integer findCount(Map<String,Object> queryMap){
		return (Integer)getSqlSession().selectOne(NAMESPACE+".findCount", queryMap);
    }
    
    /**
	 * get one ${entityName} information
	 * @param id
	 * @return ${entityName}
	 */
    public ${entityName} findById(Long id) {
		return (${entityName})getSqlSession().selectOne(NAMESPACE+".findById", id);
    }
	
	/**
	 * insert one ${entityName} information
	 * @param id
	 */
	public void insert(${entityName} ${entityName.toLowerCase()}){
		getSqlSession().insert(NAMESPACE+".insert", ${entityName.toLowerCase()});
	}
	
	/**
	 * update one ${entityName} information
	 * @param ${entityName}
	 */
    public void update(${entityName} ${entityName.toLowerCase()}){
		getSqlSession().update(NAMESPACE+".update", ${entityName.toLowerCase()});
    }
    
    /**
	 * delete one ${entityName} information
	 * @param id
	 */
    public void delete(Long id){
		getSqlSession().delete(NAMESPACE+".delete", id);
    }
    
   	
}