package ${packageName}.service;

import java.util.List;
import org.springframework.stereotype.Service;
import com.go2plus.sys.common.service.BaseService;

import ${packageName}.${entityPackageName}.${entityName};
import ${packageName}.${daoPackageName}.${entityName}Dao;


 /**
 * <p>Description: this is ${entityName}Service
 * <p>User: ${author}s
 * <p>Date: ${date}
 * <p>Version: 1.0
 */
@Service
public class ${entityName}Service extends BaseService<${entityName},${idType}>{

	private ${entityName}Dao get${entityName}Dao() {
    	return (${entityName}Dao) baseDao;
  	}
	
	#if(${maker.batch} == true)
	/**
     * 批量插入
     * 
     * @param supplierSyncList
     */
    public void batchInsert(List<${entityName}> list) {
    	get${entityName}Dao().batchInsert(list);
    }
    
    
    /**
     * 批量更新
     * 
     * @param supplierSyncList
     */
    public void batchUpdate(List<${entityName}> list) {
    	get${entityName}Dao().batchUpdate(list);
    }
	#end
	
	/**
   * 使用BeanUtils的成本惊人地昂贵,手动写是最效率的，缺点增加了代码长度和阅读代码的难度
   * @param adsiteorder
   * @param adsiteorderForm
   */
   @Override
   public void copyProperties(${entityName} dest,${entityName} orig){
   		#foreach( $col in $list )
		#if(!${col.prikey})
		#if(!${col.fetch})
		if(orig.get${col.getFirstLetterUpper($col.columnName)}() != null) dest.set${col.getFirstLetterUpper($col.columnName)}(orig.get${col.getFirstLetterUpper($col.columnName)}());
		#else
		//set ${col.columnName} information
		dest.set${col.getFirstLetterUpper($col.columnName)}(new ${col.getFirstLetterUpper($col.columnName)}(orig.get${col.getFirstLetterUpper($col.columnName)}Id()));
		#end
		#end
		#end		
   }
	
}