<configuration debug="true" scan="true" scanPeriod="60 seconds">

	<!-- <property file="logback.properties" /> -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM.dd HH:mm:ss} [%-5level] %thread %class{5}.%M[%L]\n >> %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 访问日志 appender  -->
	<appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>${catalina.home}/logs/sys-access-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志最大的历史 60天 -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rollingDateAndSizeFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/admgt.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${catalina.home}/logs/%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %d{MM.dd HH:mm:ss}  >> %msg%n</pattern>
		</encoder>
	</appender>
  
	<appender name="syncPromotionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>${catalina.home}/logs/syncPromotionLog.log</file>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${catalina.home}/logs/%d{yyyy-MM-dd}.product.log.zip</fileNamePattern>  
			<maxHistory>30</maxHistory>  
		</rollingPolicy>  
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
			<pattern>[%-5level] %d{MM.dd HH:mm:ss}  >> %msg%n</pattern>  
		</encoder>  
	</appender>  
	
	<!-- 支付日志 -->
	<appender name="nqPaySuccesslog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>${catalina.home}/logs/nqPaySuccesslog.log</file>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${catalina.home}/logs/%d{yyyy-MM-dd}.nqPay.log.zip</fileNamePattern>  
			<maxHistory>30</maxHistory>  
		</rollingPolicy>  
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
			<pattern>[%-5level] %d{MM.dd HH:mm:ss}  >> %msg%n</pattern>  
		</encoder>  
	</appender>  
	<appender name="nqPayFailLog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>${catalina.home}/logs/nqPayFailLog.log</file>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${catalina.home}/logs/%d{yyyy-MM-dd}.nqPay.log.zip</fileNamePattern>  
			<maxHistory>30</maxHistory>  
		</rollingPolicy>  
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
			<pattern>[%-5level] %d{MM.dd HH:mm:ss}  >> %msg%n</pattern>  
		</encoder>  
	</appender>  
	
  	<!--访问日志-->
    <logger name="sys-access" level="info">
        <appender-ref ref="ACCESS"/>
    </logger>
	<logger name="sync-promotion-log" level="INFO" additivity="false">  
		<appender-ref ref="syncPromotionLog" />  
	</logger>  
	<logger name="nq-pay-fail-log" level="INFO" additivity="false">  
		<appender-ref ref="nqPayFailLog" />  
	</logger>  
	<logger name="nq-pay-success-log" level="INFO" additivity="false">  
		<appender-ref ref="nqPaySuccesslog" />  
	</logger>  
	

	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
   <root level="DEBUG">
		<appender-ref ref="console" /> 
		<!-- <appender-ref ref="rollingDateAndSizeFile" /> -->
	</root>
	<!--   <root level="TRACE"> -->
	<!--     <appender-ref ref="rollingDateAndSizeFile" /> -->
	<!--   </root> -->
	<!-- levels: TRACE, DEBUG, INFO, WARN, ERROR, ALL OFF -->
</configuration>