<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ly.sys.core.user.dao.OperatorStatusHistoryDao">
	<resultMap id="operatorstatushistoryResult" type="OperatorStatusHistory">
		<id property="id" column="id" javaType="Long" />
		<result property="operatorId" column="operator_id" javaType="Long" />
		<result property="status" column="status" javaType="Integer" />
		<result property="reason" column="reason" javaType="String" />
		<result property="opOperatorId" column="op_operator_id" javaType="Long" />
		<result property="opDate" column="op_date" javaType="Date" />
    <association property="operator" column="operator_id" javaType="Operator">  
      <result property="username" column="username" javaType="String" />  
      <result property="isAdmin" column="is_admin" javaType="Integer" />
    </association>    
	</resultMap>


	<sql id="queryOperatorStatusHistorySql">
		<where>
      	<![CDATA[
			1=1
		 ]]>
			<if test="id!=null">
			<![CDATA[
				and T.id=#{id}
			]]>
			</if>
			<if test="operatorId!=null">
			<![CDATA[
				and T.operator_id=#{operatorId}
			]]>
			</if>
			<if test="status!=null">
			<![CDATA[
				and T.status=#{status}
			]]>
			</if>
			<if test="reason!=null">
			<![CDATA[
				and T.reason=#{reason}
			]]>
			</if>
			<if test="opOperatorId!=null">
			<![CDATA[
				and T.op_operator_id=#{opOperatorId}
			]]>
			</if>
			<if test="opDate!=null">
			<![CDATA[
				and T.op_date=#{opDate}
			]]>
			</if>
			<if test="username_like!=null">
			<![CDATA[
				and O.username like "%${username_like}%"
			]]>
			</if>
			<if test="opDate_gte!=null">
			<![CDATA[
				and T.op_date >=#{opDate_gte}
			]]>
			</if>
			<if test="opDate_lte!=null">
			<![CDATA[
				and T.op_date <=#{opDate_lte}
			]]>
			</if>
		</where>
	</sql>


	<select id="findById" resultMap="operatorstatushistoryResult"
		parameterType="long">
		<![CDATA[
		SELECT
		*
		FROM sys_operator_status_history WHERE id=#{id}
		]]>
	</select>

	<select id="findPageList" resultMap="operatorstatushistoryResult"
		parameterType="map">
		<![CDATA[
			SELECT T.*,O.* FROM sys_operator_status_history T 
      LEFT JOIN sys_operator O on O.id = T.operator_id
    	]]>
		<include refid="queryOperatorStatusHistorySql" />
    	<![CDATA[
		   ORDER BY T.id DESC 
		]]>

	</select>

	<select id="findCount" resultType="Integer" parameterType="map">
		<![CDATA[
        	SELECT COUNT(1) FROM sys_operator_status_history T
    	]]>
		<include refid="queryOperatorStatusHistorySql" />
	</select>

	<insert id="insert" parameterType="OperatorStatusHistory">
		<![CDATA[
			INSERT INTO sys_operator_status_history(
												id,
												operator_id,
												status,
												reason,
												op_operator_id,
												op_date
									)VALUES(
								#{id},
												#{operatorId},
												#{status},
												#{reason},
												#{opOperatorId},
												#{opDate}
									)
		]]>
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<update id="update" parameterType="OperatorStatusHistory">
		<![CDATA[
			UPDATE sys_operator_status_history SET
														operator_id=#{operatorId},
																status=#{status},
																reason=#{reason},
																op_operator_id=#{opOperatorId},
																op_date=#{opDate}
										WHERE id=#{id}
		]]>
	</update>

	<delete id="delete" parameterType="long">
		<![CDATA[
			DELETE FROM sys_operator_status_history WHERE id=#{id}
		]]>
	</delete>

	<select id="findLastHistory" resultType="OperatorStatusHistory">
		select *
		from sys_operator_status_history
		where operator_id=#{operator.id}
	</select>

</mapper>
