<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ly.sys.core.user.dao.OperatorOnlineDao">
	<resultMap id="operatoronlineResult" type="OperatorOnline">
		<id property="id" column="id" javaType="String" />
		<result property="operatorId" column="operator_id" javaType="Long" />
		<result property="username" column="username" javaType="String" />
		<result property="host" column="host" javaType="String" />
		<result property="systemHost" column="system_host" javaType="String" />
		<result property="userAgent" column="user_agent" javaType="String" />
		<result property="status" column="status" javaType="String" />
		<result property="startTimestamp" column="start_timestamp"
			javaType="Date" />
		<result property="lastAccessTime" column="last_access_time"
			javaType="Date" />
		<result property="timout" column="timout" javaType="Long" />
		<result property="session" column="session" javaType="java.lang.Object" jdbcType="VARCHAR"/>
	</resultMap>


	<sql id="queryOperatorOnlineSql">
		<where>
      	<![CDATA[
			1=1
		 ]]>
			<if test="id!=null">
			<![CDATA[
				and T.id=#{id}
			]]>
			</if>
			<if test="operatorId!=null">
			<![CDATA[
				and T.operator_id=#{operatorId}
			]]>
			</if>
			<if test="username!=null">
			<![CDATA[
				and T.username=#{username}
			]]>
			</if>
			<if test="host!=null">
			<![CDATA[
				and T.host=#{host}
			]]>
			</if>
			<if test="systemHost!=null">
			<![CDATA[
				and T.system_host=#{systemHost}
			]]>
			</if>
			<if test="userAgent!=null">
			<![CDATA[
				and T.user_agent=#{userAgent}
			]]>
			</if>
			<if test="status!=null">
			<![CDATA[
				and T.status=#{status}
			]]>
			</if>
			<if test="startTimestamp!=null">
			<![CDATA[
				and T.start_timestamp=#{startTimestamp}
			]]>
			</if>
			<if test="lastAccessTime!=null">
			<![CDATA[
				and T.last_access_time=#{lastAccessTime}
			]]>
			</if>
			<if test="timout!=null">
			<![CDATA[
				and T.timout=#{timout}
			]]>
			</if>
			<if test="session!=null">
			<![CDATA[
				and T.session=#{session}
			]]>
			</if>
      <if test="status_eq!=null">
      <![CDATA[
        and T.status = #{status_eq}
      ]]>
      </if>
		</where>
	</sql>


	<select id="findById" resultMap="operatoronlineResult" parameterType="String">
		<![CDATA[
		SELECT
		*
		FROM sys_operator_online WHERE id=#{id}
		]]>
	</select>

	<select id="findPageList" resultMap="operatoronlineResult" parameterType="map">
		<![CDATA[
			SELECT T.* FROM sys_operator_online T 
    	]]>
		<include refid="queryOperatorOnlineSql" />
    	<![CDATA[
		   ORDER BY T.id DESC 
		]]>

	</select>

	<select id="findCount" resultType="Integer" parameterType="map">
		<![CDATA[
        	SELECT COUNT(1) FROM sys_operator_online T
    	]]>
		<include refid="queryOperatorOnlineSql" />
	</select>

	<insert id="insert" parameterType="OperatorOnline">
		<![CDATA[
			INSERT INTO sys_operator_online(
												id,
												operator_id,
												username,
												host,
												system_host,
												user_agent,
												status,
												start_timestamp,
												last_access_time,
												timeout,
												session
									)VALUES(
								#{id},
												#{operatorId},
												#{username},
												#{host},
												#{systemHost},
												#{userAgent},
												#{status},
												#{startTimestamp},
												#{lastAccessTime},
												#{timeout},
												#{session,javaType=java.lang.Object,jdbcType=VARCHAR}
									)
		]]>
		<selectKey resultType="String" keyProperty="id">
			SELECT
			LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<update id="update" parameterType="OperatorOnline">
		<![CDATA[
			UPDATE sys_operator_online SET
														operator_id=#{operatorId},
																username=#{username},
																host=#{host},
																system_host=#{systemHost},
																user_agent=#{userAgent},
																status=#{status},
																start_timestamp=#{startTimestamp},
																last_access_time=#{lastAccessTime},
																timeout=#{timeout},
																session=#{session,javaType=java.lang.Object,jdbcType=VARCHAR}
										WHERE id=#{id}
		]]>
	</update>

	<delete id="delete" parameterType="String">
		<![CDATA[
			DELETE FROM sys_operator_online WHERE id=#{id}
		]]>
	</delete>
	<delete id="deleteTimeout">
		delete from sys_operator_online where
		timestampdiff(MINUTE,last_access_time,now())>#{offTime}
	</delete>
	<select id="findExpiredUserOnlineList" resultMap="operatoronlineResult">
	<![CDATA[
	select *
	from sys_operator_online o
	where o.last_access_time < #{expiredDate}
	 order by o.last_access_time asc
	 	]]>
	</select>
<insert id="insertTest">
insert into sys_operator_online(
operator_id,
timeout,
session
)values(
#{operatorOnline.operatorId},
#{operatorOnline.timeout},
#{operatorOnline.session,javaType=java.lang.Object,jdbcType=VARCHAR}
)
</insert>
</mapper>
